*{
    margin: 0;
    padding: 0;
}
.box {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin: 5px;
    flex-grow: 1;
}
#heading {
    text-align:center;
}
#container {
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: lavender;
    display: grid;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: center; */
    grid-template-columns: 80px 100px;
    grid-template-rows: 50px 100px;
}
#box1 {
    background-color: aqua;
    order: 3;
}

#box2 {
    background-color: blueviolet;
    /* align-self: flex-start;
    flex-shrink: 0; */
    /* flex-grow: 2; */
    order: 4;
}

#box3 {
    background-color: yellow;
    order: 1;
}

#box4 {
    background-color: tomato;
    order: 2;
}